:root {
  --background-color: hsl(178, 34%, 83%);
  --text-color: #000000;
}

[data-theme="dark"] {
  --background-color: #030000;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.sommaire{
    padding-top: 50px;
    justify-content: center; /* centre horizontalement */
    align-items: center;
    margin: 3rem auto;
}

.compétence{
    padding-top: 80px;
    justify-content: center; /* centre horizontalement */
    align-items: center;
}

.liste_compétences {
    display: flex;
    justify-content: center;   /* centre le groupe */
    gap: 1rem;                 /* espace entre les cartes */
    margin: 3rem auto;
}
