{% extends 'base.html.twig' %}

{% block title %}EPortfolio Favier Stanislas{% endblock %}

{% block body %}
    <h1>Me contacter</h1>
    <p>Comment me contacter?</p>
    <!-- Mets ton contenu CV ici -->
{% endblock %}