{% extends 'base.html.twig' %}

{% block title %}EPortfolio Favier Stanislas{% endblock %}

{% block body %}
    <h1>Mon CV</h1>
    <p>Bienvenue sur ma page CV !</p>
    <!-- Mets ton contenu CV ici -->
{% endblock %}