{% extends 'base.html.twig' %}

{% block title %}EPortfolio Favier Stanislas{% endblock %}

{% block body %}

<div class="sommaire">
    <h1 class="text-dark">Favier Stanislas</h1>
    <p class="text-dark">Je suis actuellement en première année du BUT Réseau et Télécommunications.</p>
    <div class="card border-info mb-3" style="max-width: 50rem;">
        <div class="card-header">Sommaire</div>
        <div class="card-body">
            <h4 class="card-title">Info card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>

<div class="compétence">
    <h1 class="text-dark">Compétence</h1>
    <p class="text-dark"> La formation repose sur un socle commun de compétences dans les domaines réseaux, informatiques et télécommunications. Il y a donc 3 compétences qui vous sont présentées 
    ci-dessous avec les différents apprentissages critiques que je maîtrise pour chacune d'elles.</p>
</div>

<div class="liste_compétences">
    <div class="card border-secondary mb-3" style="max-width: 25rem;">
        <div class="card-header">
            <a class="nav-link active" href="{{ path('app_administrer') }}">Administrer
                <span class="visually-hidden">(current)</span>
            </a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Niveau 1</h4>
            <p class="card-text"> Assister	l’administrateur du réseau.</p>
        </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 25rem;">
        <div class="card-header">
            <a class="nav-link active" href="{{ path('app_connecter') }}">Connecter
                <span class="visually-hidden">(current)</span>
            </a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Niveau 1</h4>
            <p class="card-text">Découvrir les	transmissions et la ToIP.</p>
        </div>
    </div>
    <div class="card border-secondary mb-3" style="max-width: 25rem;">
        <div class="card-header">
            <a class="nav-link active" href="{{ path('app_programmer') }}">Programmer
                <span class="visually-hidden">(current)</span>
            </a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Niveau 1</h4>
            <p class="card-text">S’intégrer	dans un	service informatique.</p>
        </div>
    </div>
</div>

{% endblock %}