{% extends 'base.html.twig' %}

{% block title %}EPortfolio{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #a5c4d6ff; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="card border-success mb-3" style="max-width: 20rem;">
        <div class="card-header"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">En-tête</font></font></div>
        <div class="card-body">
            <h4 class="card-title"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Titre de la carte Succès</font></font></h4>
            <p class="card-text"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Voici un exemple de texte rapide pour compléter le titre de la carte et constituer l'essentiel de son contenu.</font></font></p>
        </div>
    </div>
    <div class="card border-success mb-3" style="max-width: 20rem;">
        <div class="card-header"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">En-tête</font></font></div>
        <div class="card-body">
            <h4 class="card-title"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Titre de la carte Succès</font></font></h4>
            <p class="card-text"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Voici un exemple de texte rapide pour compléter le titre de la carte et constituer l'essentiel de son contenu.</font></font></p>
        </div>
    </div>
    <div class="card border-success mb-3" style="max-width: 20rem;">
        <div class="card-header"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">En-tête</font></font></div>
        <div class="card-body">
            <h4 class="card-title"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Titre de la carte Succès</font></font></h4>
            <p class="card-text"><font dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Voici un exemple de texte rapide pour compléter le titre de la carte et constituer l'essentiel de son contenu.</font></font></p>
        </div>
    </div>
</div>
{% endblock %}